In [11]:
import pandas
df = pandas.read_csv('salesforce_object_metadata_2017_02_01.csv',index_col="FIELD_NAME")

In [13]:
mask = ["OBJECT_LABEL"]
fd2 =df[mask]

In [14]:
dfT = fd2.transpose()

In [15]:
dfT.head()

FIELD_NAME,Id,Name,OwnerId,CreatedDate,CreatedById,SystemModstamp,LastModifiedById,LastModifiedDate,IsDeleted,McLabs2__Monthly_Rent__c,...,McLabs2__Property_Types__c,McLabs2__Property_Cities__c,McLabs2__Capdominus_Id__c,McLabs2__Property_Zips__c,McLabs2__Group_IDs__c,McLabs2__Last_Sync_Result__c,McLabs2__Last_Sync_With_Capdominus__c,McLabs2__Import_Batch_ID__c,McLabs2__Imported_Date__c,McLabs2__Count_of_Properties__c
OBJECT_LABEL,Unit Mix,Unit Mix,Unit Mix,Unit Mix,Unit Mix,Unit Mix,Unit Mix,Unit Mix,Unit Mix,Unit Mix,...,Contact,Contact,Contact,Contact,Contact,Contact,Contact,Contact,Contact,Contact

In [23]:
import sqlite3
conn=sqlite3.connect("schmeatodb.db")
cur=conn.cursor()

In [24]:
df2 = pandas.read_sql_query("SELECT FIELD_NAME, OBJECT_LABEL FROM {} WHERE OBJECT_NAME = 'Account'".format("aptoschema") ,conn)

In [25]:
df2.head(3)

       FIELD_NAME OBJECT_LABEL
0              Id      Company
1            Name      Company
2  MasterRecordId      Company

In [29]:
df2.set_index("FIELD_NAME",inplace=True)

In [30]:
df2.transpose()

FIELD_NAME,Id,Name,MasterRecordId,IsDeleted,Type,ParentId,RecordTypeId,BillingStreet,BillingState,BillingCity,...,JigsawCompanyId,AccountSource,McLabs2__Count_of_Properties__c,McLabs2__OSF_ID__c,McLabs2__SLA__c,McLabs2__Import_Batch_ID__c,LastViewedDate,McLabs2__Email__c,McLabs2__Imported_Date__c,LastActivityDate
OBJECT_LABEL,Company,Company,Company,Company,Company,Company,Company,Company,Company,Company,...,Company,Company,Company,Company,Company,Company,Company,Company,Company,Company